#--- 40G port $(N) --------------------------------------
record(ai, "$(P):MEAS_40G$(N)") {
    field(DESC, "Meas. value, 40G port $(N)")
    field(DTYP, "asynFloat64")
    field(INP,  "@asyn($(PORT), $(N), 0) MEAS_40G")
#    field(EGU,  "uSv/h")
    field(PREC, "3")
    field(SCAN, "I/O Intr")
}

record(longin, "$(P):STATUS_40G$(N)") {
    field(DESC, "Meas. val. status, 40G port $(N)")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), $(N), 0) MEAS_STATUS_40G")
    field(SCAN, "I/O Intr")
}

record(ai, "$(P):TIME_40G$(N)") {
    field(DESC, "Meas. time, 40G port $(N)")
    field(DTYP, "asynFloat64")
    field(INP,  "@asyn($(PORT), $(N), 0) MEAS_TIME_40G")
    field(EGU,  "s")
    field(PREC, "0")
    field(SCAN, "I/O Intr")
}

record(longin, "$(P):TYPE_40G$(N)") {
    field(DESC, "Probe type, 40G port $(N)")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), $(N), 0) TYPE_40G")
    field(SCAN, "I/O Intr")
}

record(ai, "$(P):CALFACT_40G$(N)") {
    field(DESC, "Probe cal. factor, 40G port $(N)")
    field(DTYP, "asynFloat64")
    field(INP,  "@asyn($(PORT), $(N), 0) CAL_FACT_40G")
    field(EGU,  "")
    field(PREC, "2")
    field(SCAN, "I/O Intr")
}

record(ai, "$(P):DTIME_40G$(N)") {
    field(DESC, "Probe dead time, 40G port $(N)")
    field(DTYP, "asynFloat64")
    field(INP,  "@asyn($(PORT), $(N), 0) DEAD_TIME_40G")
    field(EGU,  "")
    field(PREC, "2")
    field(SCAN, "I/O Intr")
}

record(ai, "$(P):DRNG_40G$(N)") {
    field(DESC, "Probe dyn. range, 40G port $(N)")
    field(DTYP, "asynFloat64")
    field(INP,  "@asyn($(PORT), $(N), 0) DYN_RNG_40G")
    field(EGU,  "")
    field(PREC, "2")
    field(SCAN, "I/O Intr")
}

record(ai, "$(P):THRESH_40G$(N)") {
    field(DESC, "Probe sw. thresh., 40G port $(N)")
    field(DTYP, "asynFloat64")
    field(INP,  "@asyn($(PORT), $(N), 0) SW_THR_40G")
    field(EGU,  "")
    field(PREC, "2")
    field(SCAN, "I/O Intr")
}

record(stringin, "$(P):CALDATE_40G$(N)") {
    field(DESC, "Probe cal. date, 40G port $(N)")
    field(DTYP, "asynOctetRead")
    field(INP,  "@asyn($(PORT), $(N), 0) CAL_DATE_40G")
    field(SCAN, "I/O Intr")
}


