
record(mbbo, "$(P):CH_DISP$(N)") {
    field(DESC, "Select Channel to display")
    field(ZRVL, "0")
    field(ZRST, "1")
    field(ONVL, "1")
    field(ONST, "2")
    field(TWVL, "2")
    field(TWST, "3")
    field(THVL, "3")
    field(THST, "4")
    field(FRVL, "4")
    field(FRST, "5")
    field(FVVL, "5")
    field(FVST, "6")
    field(SXVL, "6")
    field(SXST, "7")
    field(SVVL, "7")
    field(SVST, "8")
    field(EIVL, "8")
    field(EIST, "9")
    field(NIVL, "9")
    field(NIST, "10")
    field(TEVL, "10")
    field(TEST, "11")
    field(ELVL, "11")
    field(ELST, "12")
    field(TVVL, "12")
    field(TVST, "13")
    field(TTVL, "13")
    field(TTST, "14")
    field(FTVL, "14")
    field(FTST, "15")
    field(FTVL, "15")
    field(FTST, "16")
    field(VAL,  "0")
    field(PINI, "1")
    info(autosaveFields, "VAL")
}


