#
# DOSFET serial device database template file
#
# Required Macros:
#   P
#       EPICS prefix.
#       Every PV for this device starts with this prefix
#	SENSOR
#		Sensor channel, A-D
#	DRAIN
#		Number of drain on sensor, 1 or 2
# Optional Macros:
#	CAL
#		Calibration factor. See Voltage Calibraion, p. 12 of pdf


record( ai, "$(P):$(SENSOR):$(DRAIN):RAW" )
{
	field( EGU, "V" )
	field( PREC, 7 )
	field( SCAN, "Passive" )
    field( FLNK, "$(P):$(SENSOR):$(DRAIN):DOSE PP" )
}

record( dfanout, "$(P):$(SENSOR):$(DRAIN):ZERO" )
{
	field( DOL,  "$(P):$(SENSOR):$(DRAIN):RAW NPP" )
	field( OUTA, "$(P):$(SENSOR):$(DRAIN):ZERO_VOLTS PP" )
	field( OUTB, "$(P):$(SENSOR):$(DRAIN):ZERO_TOD_AUTO.PROC PP" )
	field( OMSL, "closed_loop")
}

# note: time stamps done this way because "Soft Timestamp" can't be autosaved.
record(stringin, "$(P):$(SENSOR):$(DRAIN):ZERO_TOD")
{
    field(DESC, "Time and date of zero dose")
    field(PINI, "YES")
	info(autosaveFields,"VAL")
}

record(stringout, "$(P):$(SENSOR):$(DRAIN):ZERO_TOD_RELAY")
{
    field(DESC, "Time and date of zero dose")
    field(OMSL, "closed_loop")
    field(DOL, "$(P):$(SENSOR):$(DRAIN):ZERO_TOD_AUTO")
    field(OUT, "$(P):$(SENSOR):$(DRAIN):ZERO_TOD PP")
    field(PINI, "NO")
}

record(stringin, "$(P):$(SENSOR):$(DRAIN):ZERO_TOD_AUTO")
{
    field(DESC, "Make time and date of zero dose")
    field(DTYP, "Soft Timestamp")
    field(INP, "@%m/%d/%Y %H:%M:%S")
    field(PINI, "NO")
    field( FLNK, "$(P):$(SENSOR):$(DRAIN):ZERO_TOD_RELAY PP")
}

record( ai, "$(P):$(SENSOR):$(DRAIN):ZERO_VOLTS" )
{
	field( EGU, "V" )
	field( PREC, 7 )
	field( INP,  0 )
	field( PINI, "YES" )
    field( FLNK, "$(P):$(SENSOR):$(DRAIN):DOSE PP" )
	info(autosaveFields,"VAL")
}

record( calc, "$(P):$(SENSOR):$(DRAIN):DELTA_VOLTS" )
{
	field( CALC, "C*(A-B)" )
	field( EGU, "V" )
	field( PREC, 7 )
	field( INPA, "$(P):$(SENSOR):$(DRAIN):RAW NPP MS" )	# current raw wattmeter reading
	field( INPB, "$(P):$(SENSOR):$(DRAIN):ZERO_VOLTS NPP MS" )	# dark (background) wm reading
	field( INPC, "$(CAL=1)" ) # calibration factor
	info(autosaveFields,"INPC")
}

# The pdf document for DOSFET gives this equation for RFT-300-CC10G1
# sensors from REM Oxford Ltd. irradiated under zero bias:
# exp(-b/2c-sqr(b^2/4*c^2+(loge(dV)-a)/c))
# where a = -4.33139, b = 1.05947, c = -0.04047
record( calc, "$(P):$(SENSOR):$(DRAIN):DOSE" )
{
	field( CALC, "EXP(E-SQR(F+(LOGE(D)-A)/C))" )
	field( EGU, "Rad" )
	field( PREC, 7 )
	field( INPA, "-4.33139" )	# coefficient a according to pdf
	field( INPB, "1.05947" )	# coefficient b according to pdf
	field( INPC, "-0.04047" )	# coefficient c according to pdf
	field( INPD, "$(P):$(SENSOR):$(DRAIN):DELTA_VOLTS PP MS" )	# Voltage change since zeroing
	field( INPE, "1.308957252e+1") # -B/2C
	field( INPF, "1.713369088e+2") # -B^2/4C^2
	info(autosaveFields,"CALC DESC INPA INPB INPC INPE INPF INPG INPH INPI INPJ INPK INPL")
}

record( mbbi,	"$(P):$(SENSOR):$(DRAIN):RAW_STATUS" )
{
	field( ZRVL, "0" )
	field( ONVL, "1" )
	field( TWVL, "2" )
	field( ZRST, "Ok" )
	field( ONST, "Over Linear Range" )
	field( TWST, "Error")
	field( ZRSV, "NO_ALARM" )
	field( ONSV, "MINOR" )
	field( TWSV, "INVALID" )
    field( FLNK, "$(P):$(SENSOR):$(DRAIN):RAW NPP MS" )
}
