
record (ai, "$(P):OZONE") {
    field(DESC, "Ozone")
    field(DTYP, "stream")
    field(INP,  "@Eco_OS-6.proto Read_ozone $(PORT)")
    field(EGU,  "ppb")
    field(PREC, "0")
    field(SCAN, "I/O Intr")
}

record (ai, "$(P):TEMP") {
    field(DESC, "Temperature")
    field(DTYP, "stream")
    field(INP,  "@Eco_OS-6.proto Read_temp $(PORT)")
    field(ASLO, "0.01")
    field(EGU,  "C")
    field(PREC, "1")
    field(SCAN, "I/O Intr")
}

record (ai, "$(P):HUMIDITY") {
    field(DESC, "Humidity")
    field(DTYP, "stream")
    field(INP,  "@Eco_OS-6.proto Read_humidity $(PORT)")
    field(ASLO, "0.01")
    field(EGU,  "%")
    field(PREC, "1")
    field(SCAN, "I/O Intr")
}

