record (ai, "RADM:$(LOCA):$(UNIT):GAMMA_DOSE")
{
  field (DESC, "Filtered Dose Rate")
  field (EGU, "mrem/h")
  field (INP, "@EcoGamma.proto Filtered $(PORT)")
  field (DTYP, "stream")
  field (PINI, "YES")
  field (SCAN, "5 second")
}

record (ai, "RADM:$(LOCA):$(UNIT):GAMMA_TEMP")
{
  field (DESC, "EcoG temperature in Celcius")
  field (EGU, "Deg C")
  field (INP, "@EcoGamma.proto Temperature $(PORT)")
  field (DTYP, "stream")
  field (PINI, "YES")
  field (SCAN, "5 second")
}

record (longin, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS")
{
  field (DESC, "Bitfield for Alarm Statuses")
  field (DTYP, "stream")
  field (INP, "@EcoGamma.proto Status $(PORT)")
  field (PINI, "YES")
  field (FLNK, "RADM:$(LOCA):$(UNIT):ALARM")
  field (SCAN, "5 second")
}


record (longin, "RADM:$(LOCA):$(UNIT):GAMMA_DEVSTATUS")
{
  field (DESC, "Bitfield for device status bits")
  field (DTYP, "stream")
  field (INP, "@EcoGamma.proto DevStatus $(PORT)")
  field (PINI, "YES")
  field (FLNK, "RADM:$(LOCA):$(UNIT):STATUS1")
  field (SCAN, "5 second")
}

#Status of device

record (mbbiDirect, "RADM:$(LOCA):$(UNIT):GAMMA_GAMMA_STATUS1")
{
  field (DESC, "First 16 status bits")
  field (INP, "RADM:$(LOCA):$(UNIT):GAMMA_DEVSTATUS")
  field (FLNK, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS2")
}

record (mbbiDirect, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS2")
{
  field (DESC, "First 16 status bits")
  field (INP, "RADM:$(LOCA):$(UNIT):GAMMA_DEVSTATUS")
  field (FLNK, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_PI")
  field (SHFT, "16")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_PI")
{
  field(OMSL,"closed_loop")
  field (DESC, "Parameter Initialization Fault")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS1.B0")
  field (FLNK, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_HI")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_HI")
{
  field(OMSL,"closed_loop")
  field (DESC, "Hardware Initialization Fault")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS1.B1")
  field (FLNK, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_LS")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_LS")
{
  field(OMSL,"closed_loop")
  field (DESC, "Log System Fault")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS1.B2")
  field (FLNK, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_LT")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_LT")
{
  field(OMSL,"closed_loop")
  field (DESC, "Log Time Fault")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS1.B3")
  field (FLNK, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_LI")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_LI")
{
  field(OMSL,"closed_loop")
  field (DESC, "Log Initialization Fault")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS1.B4")
  field (FLNK, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_CAL")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_CAL")
{
  field(OMSL,"closed_loop")
  field (DESC, "Calibration or Linearity Check Fault")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS1.B5")
  field (FLNK, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_SYS")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_SYS")
{
  field(OMSL,"closed_loop")
  field (DESC, "System Fault")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS1.B6")
  field (FLNK, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_BAT")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_BAT")
{
  field(OMSL,"closed_loop")
  field (DESC, "Battery Low Fault")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS1.B7")
  field (FLNK, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_GMV")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_GMV")
{
  field(OMSL,"closed_loop")
  field (DESC, "GM Voltage Fault")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS1.B8")
  field (FLNK, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_LVPS")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_FAULT_LVPS")
{
  field(OMSL,"closed_loop")
  field (DESC, "LVPS Voltage Fault")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS1.B9")
  field (FLNK, "RADM:$(LOCA):$(UNIT):INIT")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_INIT")
{
  field(OMSL,"closed_loop")
  field (DESC, "Device Initialized or Reset")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS1.BA")
  field (FLNK, "RADM:$(LOCA):$(UNIT):GAMMA_HIGM")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_HIGM")
{
  field(OMSL,"closed_loop")
  field (DESC, "High GM Tube Active")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS1.BB")
  field (FLNK, "RADM:$(LOCA):$(UNIT):SYSFAULT")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}

record (mbbi, "RADM:$(LOCA):$(UNIT):GAMMA_SYSFAULT")
{
  field (DESC, "System Fault Description")
  field (INP, "RADM:$(LOCA):$(UNIT):GAMMA_DEVSTATUS")
  field (SHFT, "12")
  field (FLNK, "RADM:$(LOCA):$(UNIT):ACTIVECAL")
  field (ZRST, "K_RET_INVALIDPROGRAMSTATE")
  field (ONST, "K_RETM_RESOURCE_FAULT")
  field (TWST, "K_RETM_INVALIDTABLE")
  field (THST, "K_RETM_BUFFNALLOC")
  field (FRST, "K_RETM_BUFFPALLOC")
  field (FVST, "K_RETM_MSTORE_FULL")
  field (SXST, "K_RETM_FILE_READ_ERROR")
  field (SVST, "K_RETM_BAD_CRC")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_ACTIVECAL")
{
  field(OMSL,"closed_loop")
  field (DESC, "Calibration and Linearity Check Active")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS2.B0")
  field (FLNK, "RADM:$(LOCA):$(UNIT):GAMMA_NOLOG")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_NOLOG")
{
  field(OMSL,"closed_loop")
  field (DESC, "Logging Disabled")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS2.B2")
  field (FLNK, "RADM:$(LOCA):$(UNIT):GAMMA_DATATRANS")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_DATATRANS")
{
  field(OMSL,"closed_loop")
  field (DESC, "Data is being uploaded or downloaded")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS2.B3")
  field (FLNK, "RADM:$(LOCA):$(UNIT):GAMMA_REBOOT")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_REBOOT")
{
  field(OMSL,"closed_loop")
  field (DESC, "Device is rbooting")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS2.B4")
  field (FLNK, "RADM:$(LOCA):$(UNIT):GAMMA_BUSY")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_BUSY")
{
  field(OMSL,"closed_loop")
  field (DESC, "Device is busy")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS2.B5")
  field (FLNK, "RADM:$(LOCA):$(UNIT):GAMMA_TRANSBUSY")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_TRANSBUSY")
{
  field(OMSL,"closed_loop")
  field (DESC, "A file transfer is in progress")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS2.B6")
  field (FLNK, "RADM:$(LOCA):$(UNIT):GAMMA_DIAGMODE")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}

record (bo, "RADM:$(LOCA):$(UNIT):GAMMA_DIAGMODE")
{
  field(OMSL,"closed_loop")
  field (DESC, "Diagnostic features enabled")
  field (DOL, "RADM:$(LOCA):$(UNIT):GAMMA_STATUS2.B7")
  field( ZNAM, "OK")
  field( ONAM, "Not OK")
}


record(longout, "RADM:$(LOCA):$(UNIT):GAMMA_PORTOUT"){
  field( DESC, "Configures TCP port")
  field (DTYP, "stream")
  field (OUT, "@EcoGamma.proto PortOut $(PORT)")
}

record(longin, "RADM:$(LOCA):$(UNIT):GAMMA_PORTIN"){
  field( DESC, "Readback TCP port")
  field (DTYP, "stream")
  field( PINI, "YES")
  field (INP, "@EcoGamma.proto PortIn $(PORT)")
}
